+l-columnBlock({tag:"div"})
	+l-columnBox({tag:"div"})
		+m-componentTitle01({tag:"p", text:"デフォルトテキストセット(WYSIWYG)"})
		+m-defaultTag({tag:"div"})
			p!= DUMMY_TEXT_400

			ul
				li!= DUMMY_TEXT_50
					ul
						li!= DUMMY_TEXT_20
							ul
								li!= DUMMY_TEXT_20
			
			ol
				li!= DUMMY_TEXT_50
					ol
						li!= DUMMY_TEXT_50
							ol
								li!= DUMMY_TEXT_50