extends /_include/_template/_t_base_template

block vars
	-
		var pageOption = {
			KEY: "outline",
			URL: '',
			RELATIVE_PATH: '../',
			TITLE: '',
			DESCRIPTION: '',
			KEYWORDS: '',
			side: [false,"left"],
			SIDE: false,
		}

block library


block contents
	+l-contentsWidth({tag:"div"})
		+l-mqWrapper({tag:"div"})
			+l-columnBlock({tag:"div"})
				+l-columnBlock({tag:"div"})
					+l-columnBox({tag:"div"})
						//- 繰り返しのとき
						+c-btnSet01({tag:"div", colClass:"is-two",
							list:[{tag:"p",text:"ボタン01", url:"index.html", className:"m-iconSet"},
								{tag:"p",text:"ボタン02", url:"index.html"},
								{tag:"p",text:"ボタン03", url:"index.html"}
							]
						})


			+l-columnBlock({tag:"div"})
				+l-columnBox({tag:"div"})
					+c-halfSet01({col:{tag:"div", className:"is-two"}})
						mixin primaryGroup()
							.col
								.block.is-image
									.area.is-image
										+m-imageSet01({imageTag:"p", imageUrl: 'https://placeimg.com/375/232/animals'})
								.block.is-text
									.area.is-title
										+m-borderLeftTitle01({tag:"h3", title:"左線タイトル01"})
									.area.is-text
										.m-defaultTag
											p!= DUMMY_TEXT_50
									.area.is-sub
										p 2019.09.07
							.col
								.block.is-image
									.area.is-image
										+m-imageSet01({imageTag:"p", imageUrl: 'https://placeimg.com/375/232/animals'})
								.block.is-text
									.area.is-title
										+m-borderLeftTitle01({tag:"h3", title:"左線タイトル01"})
									.area.is-text
										.m-defaultTag
											p!= DUMMY_TEXT_50
									.area.is-sub
										p 2019.09.07
							.col
								.block.is-text
									.area.is-title
										+m-borderLeftTitle01({tag:"h3", title:"左線タイトル01"})
									.area.is-text
										.m-defaultTag
											p!= DUMMY_TEXT_50
									.area.is-sub
										p 2019.09.07
							.col
								.block.is-text
									.area.is-title
										+m-borderLeftTitle01({tag:"h3", title:"左線タイトル01"})
									.area.is-text
										.m-defaultTag
											p!= DUMMY_TEXT_50
									.area.is-sub
										p 2019.09.07


			+l-columnBlock({tag:"div"})
				+l-columnBox({tag:"div"})
					+c-halfSet02({col:{tag:"div", className:"is-two"}})
						mixin primaryGroup()
							.col
								.block.is-image
									.area.is-image
										+m-imageSet01({imageTag:"p", className:"is-imageFull", imageUrl: 'https://placeimg.com/375/232/animals'})
								.block.is-text
									.area.is-title
										+m-borderLeftTitle01({tag:"h3", title:"左線タイトル01"})
									.area.is-text
										.m-defaultTag
											p!= DUMMY_TEXT_50
									.area.is-sub
										p 2019.09.07
							.col
								.block.is-image
									.area.is-image
										+m-imageSet01({imageTag:"p", className:"is-imageFull", imageUrl: 'https://placeimg.com/375/232/animals'})
								.block.is-text
									.area.is-title
										+m-borderLeftTitle01({tag:"h3", title:"左線タイトル01"})
									.area.is-text
										.m-defaultTag
											p!= DUMMY_TEXT_50
									.area.is-sub
										p 2019.09.07


			+l-columnBlock({tag:"div"})
				+l-columnBox({tag:"div"})
					+c-fixedHalfSet01({tag:"div", before:true, after:true})
						mixin beforeGroup()
							.block.is-text
								.area.is-text
									.m-defaultTag
										p テキスト

						mixin primaryGroup()
							.block.is-fixed
								.area.is-image
									+m-imageSet01({imageTag:"figure", imageUrl: 'https://placeimg.com//400/250/animals'})
										figcaption テキストが入ります
							.block.is-contents
								.area.is-title
									+m-borderLeftTitle01({tag:"h3", title:"左線タイトル01"})
								.area.is-text
									.m-defaultTag
										p!= DUMMY_TEXT_400

						mixin afterGroup()
							.block.is-text
								.area.is-sub
									p テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります

				+l-columnBox({tag:"div"})
					+c-fixedHalfSet01({tag:"div", className: "is-contentsLeft"})
						mixin primaryGroup()
							.block.is-fixed
								.area.is-btn
									ul
										+m-borderBtn01({tag:"li",text:"ボタン01", url:"index.html", className:"m-iconSet"})
										+m-borderBtn01({tag:"li",text:"ボタン01", url:"index.html", className:"m-iconSet"})
										+m-borderBtn01({tag:"li",text:"ボタン01", url:"index.html", className:"m-iconSet"})

							.block.is-contents
								.area.is-title
									+m-borderLeftTitle01({tag:"h3", title:"左線タイトル01"})




















