
mixin c-qandaSet01(tg)
	-
		var op = {
			tag:       tg.tag ? tg.tag : "div",
			baseName:  tg.baseName ? tg.baseName : "c-qandaSet01",
			className: tg.className ? tg.className : "js-accordion",
		}
	#{op.tag}( class = op.baseName + " " + op.className )
		.componentWrapper
			block

mixin m-qandaList01(tg)
	-
		var op = {
			tag:       tg.tag ? tg.tag : "div",
			baseName:  tg.baseName ? tg.baseName : "m-qandaList01",
			className: tg.className ? tg.className : "",

			questionClass: tg.questionClass ? tg.questionClass : "js-accordion-parent",
			questionIcon: tg.questionIcon ? tg.questionIcon : "Q",
			answerClass: tg.answerClass ? tg.answerClass : "js-accordion-child",
			answerIcon: tg.answerIcon ? tg.answerIcon : "A",
		}

	#{op.tag}( class = op.baseName + " " + op.className )
		block
		.moduleWrapper
			.block.is-question( class = op.questionClass )
				p.icon
					span!= op.questionIcon
				.area.is-text
					if tg.question
						p.title!= tg.question
					else
						+questionArea
						
			.block.is-answer( class = op.answerClass )
				p.icon
					span!= op.answerIcon
				.area.is-text
					if tg.answer
						p.text!= tg.answer
					else
						+answerArea