//- mixin
mixin m-btnSet01(tag, text, link, blank)
	#{tag}.m-btnSet01
		if(blank=="_blank")
			a(href=link target="_blank")
				span.btnWrapper
					span.btnInner!= text
		else
			a(href=link)
				span.btnWrapper
					span.btnInner!= text

+l-columnBox
	+l-contentsWidth
		+l-mqWrapper
			+m-markupTitle('モジュール - ボタンモジュール01')
			
			+l-markupBlock
				+m-btnSet01('p','ボタンモジュール01','.pdf')

			+l-markupBlock
				+p-markupBtn('pug').
					p.m-btnSet01
						a(href="") 拡張子でアイコン切り分け
							span.btnWrapper
								span.btnInner テキスト

				+p-markupBtn('stylus')
					include ../../../../stylus/_include/_modules/_m_btnModules/_m_btnSet01.styl