extends _include/_template/_t_base_template

block vars
	- var KEY = "component"
	- var PAGE = PAGES[KEY]
	- var RELATIVE_PATH = PAGE.PATH
	- var header = "false"
	- var footer = "false"
	- var side = ["false","left"]
	- var jquery = "true"


block contents

	+l-columnBlock
		h3.m-title-bg01
			span レイアウト

		+l-columnBox
			+l-contentsWidth
				+l-mqWrapper
					h2.m-markupTitle
						span 基本レイアウト
					+l-markupBlock
						+p-markupBtn('pug').
							+l-columnBlock 大レイアウト
								+l-columnBox 小レイアウト
									+l-contentsWidth コンテンツ幅
										+l-mqWrapper sp左右padding用
											コンテンツ

						+p-markupBtn('stylus')
							include ../stylus/_include/_layout/_l_layoutSet.styl


		+l-columnBox
			+l-bgBlock
				+l-contentsWidth
					+l-mqWrapper
						h2.m-markupTitle
							span 背景レイアウト01
		
						+l-markupBlock
							+p-markupBtn('pug').
								+l-bgBlock
									+l-contentsWidth
										コンテンツ

							+p-markupBtn('stylus')
								include ../stylus/_include/_layout/_l_bgBlock.styl

























	+l-columnBlock
		h3.m-title-bg01
			span 基本コンポーネント

		+l-columnBox
			+l-contentsWidth
				+l-mqWrapper
					h2.m-markupTitle
						span 分割セット

					+l-markupBlock
						.c-colSet.is-two
							.col
								.defaultSet
									p!= DUMMY_TEXT_200
							.col
								.c-colSet.is-three
									.col
										.defaultSet
											p!= DUMMY_TEXT_100
									.col
										.defaultSet
											p!= DUMMY_TEXT_100
									.col
										.defaultSet
											p!= DUMMY_TEXT_100

					+l-markupBlock
						+p-markupBtn('pug').
							.c-colSet (.is-two / .is-three / .is-four)
								.col
									コンテンツ
						
						+p-markupBtn('stylus')
							include ../stylus/_include/_components/_c_colSet.styl



		+l-columnBox
			+l-contentsWidth
				+l-mqWrapper
					h2.m-markupTitle
						span 画像+テキストコンポーネント01

					+l-markupBlock

						.c-imageText.is-imageRight
							.imageBlock
								.m-imageSet
									figure.image
										img(src="https://placehold.jp/400x248.png", alt="")
										figcaption キャプションが入ります。キャプションが入ります。キャプションが入ります。キャプションが入ります。キャプションが入ります。キャプションが入ります。キャプションが入ります。キャプションが入ります。

							.textBlock
								.defaultSet
									p!= DUMMY_TEXT_200
									p!= DUMMY_TEXT_400

					+l-markupBlock
						+p-markupBtn('pug').
							.c-imageText (.is-imageRight / .is-imageLeft)
								.imageBlock
									.m-imageSet

								.textBlock
									.defaultSet

						+p-markupBtn('stylus')
							include ../stylus/_include/_components/_c_imageText.styl



		+l-columnBox
			+l-contentsWidth
				+l-mqWrapper
					h2.m-markupTitle
						span 画像背景コンポーネント01
					+l-markupBlock
						.c-imageBgSet
							p.bg
								img(src="https://placehold.jp/1800x400.png", alt="")
							.contentsArea.is-left
								h3.m-title-boldLarge01
									span タイトル
								p.text テキストが入ります
					+l-markupBlock
						+p-markupBtn('pug').
							.c-imageBgSet
								p.bg
									img(src="https://placehold.jp/1800x400.png", alt="")
								.contentsArea (.is-left / .is-center / .is-right)
									p テキスト

						+p-markupBtn('stylus')
							include ../stylus/_include/_components/_c_imageBgSet.styl


		+l-columnBox
			+l-contentsWidth
				+l-mqWrapper
					h2.m-markupTitle
						span 画像コンポーネント01
					
					+l-markupBlock
						.c-imageSet
							ul.c-colSet.is-three
								li.col
									.m-imageSet
										p.image
											img(src="https://placehold.jp/375x232.png", alt="")
										.defaultSet
											p!= DUMMY_TEXT_50
								li.col
									.m-imageSet
										p.image
											img(src="https://placehold.jp/375x232.png", alt="")
										.defaultSet
											p!= DUMMY_TEXT_50
								li.col
									.m-imageSet
										p.image
											img(src="https://placehold.jp/375x232.png", alt="")
										.defaultSet
											p!= DUMMY_TEXT_50
								li.col
									.m-imageSet
										p.image
											img(src="https://placehold.jp/375x232.png", alt="")
										.defaultSet
											p!= DUMMY_TEXT_50
								li.col
									.m-imageSet
										p.image
											img(src="https://placehold.jp/375x232.png", alt="")
										.defaultSet
											p!= DUMMY_TEXT_50

					+l-markupBlock
						+p-markupBtn('pug').
							.c-imageComponent
								ul.box (.is-two / .is-three / .is-four)
									li.item
										.m-imageSet
											p.image
												img(src="画像", alt="")
											.defaultSet
												p!= テキスト

						+p-markupBtn('stylus')
							include ../stylus/_include/_components/_c_imageSet.styl




		+l-columnBox
			+l-contentsWidth
				+l-mqWrapper
					h2.m-markupTitle
						span ボタンコンポーネント01
					
					+l-markupBlock
						.c-btnSet
							ul.c-colSet.is-three
								li.col
									.m-btnSet01
										a(href="")
											span.btnWrapper
												span.btnInner 通常ボタン
								li.col
									.m-btnSet01
										a(href=".pdf")
											span.btnWrapper
												span.btnInner pdfファイル
								li.col
									.m-btnSet01
										a(href=".doc")
											span.btnWrapper
												span.btnInner その他ファイル
								li.col
									.m-btnSet01
										a(href="#sample")
											span.btnWrapper
												span.btnInner ページ内リンク
								li.col
									.m-btnSet01
										a(href="index.html#sample")
											span.btnWrapper
												span.btnInner ＃付きリンク
								li.col
									.m-btnSet01
										a(href="" target="_blank")
											span.btnWrapper
												span.btnInner ターゲットブランク

					+l-markupBlock
						+p-markupBtn('pug').
							.c-btnSet
								ul.box (.is-two / .is-three / .is-four)
									li.item.m-btnSet01
										a(href="")
											span.btnWrapper
												span.btnInner ボタン

						+p-markupBtn('stylus')
							include ../stylus/_include/_components/_c_imageSet.styl




		+l-columnBox
			+l-contentsWidth
				+l-mqWrapper
					h2.m-markupTitle
						span テーブルセット
					+l-markupBlock
						.c-tableSet
							table
								thead
									tr
										th テキスト
										th テキスト
										th テキスト
								tbody
									tr
										th テキスト
										td テキスト
										td テキスト
					+l-markupBlock
						+p-markupBtn('pug').
							.c-tableSet
								table
									thead
										tr
											th テキスト
									tbody
										tr
											th テキスト
						+p-markupBtn('stylus')
							include ../stylus/_include/_components/_c_tableSet.styl

		+l-columnBox
			+l-contentsWidth
				+l-mqWrapper
					h2.m-markupTitle
						span ページャーセット
					+l-markupBlock
						.c-pagerSet
							ul
								li
									.box
										span 1
								li
									a(href="")
										.box
											span 2
								li
									a(href="")
										.box
											span 3
								li
									a(href="")
										.box
											span 4
								li
									a(href="")
										.box
											span 5
					+l-markupBlock
						+p-markupBtn('pug').
							.c-pagerSet
								ul
									li
										.box
											span 1
									li
										a(href="")
											.box
												span 2

						+p-markupBtn('stylus')
							include ../stylus/_include/_components/_c_pagerSet.styl

























	+l-columnBlock
		h3.m-title-bg01
			span 複合コンポーネント


		+l-columnBox
			+l-contentsWidth
				+l-mqWrapper
					h2.m-markupTitle
						span ヘッダー01

			+l-markupBlock
				header.c-comHeader01
					+l-contentsWidth
						.contentsArea
							.logoBlock
								h1.logo
									span
										img(src="https://placehold.jp/200x70.png", alt="")
							.navBlock
								.subNavArea
									.m-inputText
										input(type="text")
									nav.subNav
										ul
											li
												a(href="")
													span サブナビ1
											li
												a(href="")
													span サブナビ2
											li
												a(href="")
													span サブナビ3
								.globalNavArea
									nav.globalNav
										ul
											li
												a(href="")
													span ナビゲーション1
												.childNav
													+l-contentsWidth
														ul.c-colSet.is-six
															li.col
																a(href="")
																	span 子ナビ1
															li.col
																a(href="")
																	span 子ナビ2
															li.col
																a(href="")
																	span 子ナビ3
															li.col
																a(href="")
																	span 子ナビ4
															li.col
																a(href="")
																	span 子ナビ5
															li.col
																a(href="")
																	span 子ナビ6
											li
												a(href="")
													span ナビゲーション2
												.childNav
													+l-contentsWidth
														ul.c-colSet.is-six
															li.col
																a(href="")
																	span 子ナビ1
															li.col
																a(href="")
																	span 子ナビ2
															li.col
																a(href="")
																	span 子ナビ3
															li.col
																a(href="")
																	span 子ナビ4
											li
												a(href="")
													span ナビゲーション3
											li
												a(href="")
													span ナビゲーション4
											li
												a(href="")
													span ナビゲーション5
			+l-markupBlock
				+l-contentsWidth
					+p-markupBtn('pug').
						header.c-comHeader01
							+l-contentsWidth
								.contentsArea
									.logoBlock
										h1.logo
											span
												img(src="https://placehold.jp/200x70.png", alt="")
									.navBlock
										.subNavArea
											.m-inputText
												input(type="text")
											nav.subNav
												ul
													li
														a(href="")
															span サブナビ1
													li
														a(href="")
															span サブナビ2
													li
														a(href="")
															span サブナビ3
										.globalNavArea
											nav.globalNav
												ul
													li
														a(href="")
															span ナビゲーション1
														.childNav
															+l-contentsWidth
																ul.c-colSet.is-six
																	li.col
																		a(href="")
																			span 子ナビ1
																	li.col
																		a(href="")
																			span 子ナビ2
																	li.col
																		a(href="")
																			span 子ナビ3
																	li.col
																		a(href="")
																			span 子ナビ4
																	li.col
																		a(href="")
																			span 子ナビ5
																	li.col
																		a(href="")
																			span 子ナビ6
													li
														a(href="")
															span ナビゲーション2
														.childNav
															+l-contentsWidth
																ul.c-colSet.is-six
																	li.col
																		a(href="")
																			span 子ナビ1
																	li.col
																		a(href="")
																			span 子ナビ2
																	li.col
																		a(href="")
																			span 子ナビ3
																	li.col
																		a(href="")
																			span 子ナビ4
													li
														a(href="")
															span ナビゲーション3
													li
														a(href="")
															span ナビゲーション4
													li
														a(href="")
															span ナビゲーション5

					+p-markupBtn('stylus')
						include ../stylus/_include/_components/_c_comHeader01.styl

		+l-columnBox
			+l-contentsWidth
				+l-mqWrapper
					h2.m-markupTitle
						span フッター01

			+l-markupBlock
				footer.c-comFooter01
					.navBlock
						+l-contentsWidth
							nav.footerNav
								ul.c-colSet.is-five
									li.col
										a(href="")
											span ナビゲーション1
										.childNav
											ul
												li
													a(href="")
														span 子ナビ1
												li
													a(href="")
														span 子ナビ2
												li
													a(href="")
														span 子ナビ3
												li
													a(href="")
														span 子ナビ4
												li
													a(href="")
														span 子ナビ5
												li
													a(href="")
														span 子ナビ6
									li.col
										a(href="")
											span ナビゲーション2
										.childNav
											ul
												li
													a(href="")
														span 子ナビ1
												li
													a(href="")
														span 子ナビ2
												li
													a(href="")
														span 子ナビ3
									li.col
										a(href="")
											span ナビゲーション3
										.childNav
											ul
												li
													a(href="")
														span 子ナビ1
												li
													a(href="")
														span 子ナビ2
												li
													a(href="")
														span 子ナビ3
									li.col
										a(href="")
											span ナビゲーション4
										.childNav
											ul
												li
													a(href="")
														span 子ナビ1
												li
													a(href="")
														span 子ナビ2
												li
													a(href="")
														span 子ナビ3
									li.col
										a(href="")
											span ナビゲーション5
										.childNav
											ul
												li
													a(href="")
														span 子ナビ1
												li
													a(href="")
														span 子ナビ2
												li
													a(href="")
														span 子ナビ3
					.copyBlock
						+l-contentsWidth
							p copyright xxxxxxxxxxxxxxxxxxxxxxx

			+l-markupBlock
				+l-contentsWidth
					+p-markupBtn('pug').
						footer.c-comFooter01
							.navBlock
								+l-contentsWidth
									nav.footerNav
										ul.c-colSet.is-five
											li.col
												a(href="")
													span ナビゲーション1
												.childNav
													ul
														li
															a(href="")
																span 子ナビ1
														li
															a(href="")
																span 子ナビ2
														li
															a(href="")
																span 子ナビ3
														li
															a(href="")
																span 子ナビ4
														li
															a(href="")
																span 子ナビ5
														li
															a(href="")
																span 子ナビ6
											li.col
												a(href="")
													span ナビゲーション2
												.childNav
													ul
														li
															a(href="")
																span 子ナビ1
														li
															a(href="")
																span 子ナビ2
														li
															a(href="")
																span 子ナビ3
											li.col
												a(href="")
													span ナビゲーション3
												.childNav
													ul
														li
															a(href="")
																span 子ナビ1
														li
															a(href="")
																span 子ナビ2
														li
															a(href="")
																span 子ナビ3
											li.col
												a(href="")
													span ナビゲーション4
												.childNav
													ul
														li
															a(href="")
																span 子ナビ1
														li
															a(href="")
																span 子ナビ2
														li
															a(href="")
																span 子ナビ3
											li.col
												a(href="")
													span ナビゲーション5
												.childNav
													ul
														li
															a(href="")
																span 子ナビ1
														li
															a(href="")
																span 子ナビ2
														li
															a(href="")
																span 子ナビ3
							.copyBlock
								+l-contentsWidth
									p copyright xxxxxxxxxxxxxxxxxxxxxxx
					+p-markupBtn('stylus')
						include ../stylus/_include/_components/_c_comFooter01.styl




		+l-columnBox
			+l-contentsWidth
				+l-mqWrapper
					h2.m-markupTitle
						span メインビジュアル01



		+l-columnBox
			+l-contentsWidth
				+l-mqWrapper
					h2.m-markupTitle
						span ニュースコンポーネント01


					+l-markupBlock
						.c-newsSet01
							dl
								dt.titleBlock
									p.date 2019/12/01
									p.tag タグ
								dd.textBlock
									p.text
										a(href=".pdf")
											span テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
								dt.titleBlock
									p.date 2019/12/01
									p.tag タグ
								dd.textBlock
									p.text
										a(href=".doc")
											span テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
								dt.titleBlock
									p.date 2019/12/01
									p.tag タグ
								dd.textBlock
									p.text
										a(href="")
											span テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
					+l-markupBlock
						+p-markupBtn('pug').
							.c-newsSet01
								dl
									dt.titleBlock
										p.date 2019/12/01
										p.tag タグ
									dd.textBlock
										p.text
											a(href="")
												span テキスト

						+p-markupBtn('stylus')
							include ../stylus/_include/_components/_c_newsSet01.styl

		+l-columnBox
			+l-contentsWidth
				+l-mqWrapper
					h2.m-markupTitle
						span ニュースコンポーネント02


					+l-markupBlock
						.c-newsSet02
							ul
								li
									a(href="")
										.titleBlock
											p.date 2019/12/01
											p.tag タグ
										.textBlock
											p.text
												span テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
								li
									a(href=".pdf")
										.titleBlock
											p.date 2019/12/01
											p.tag タグ
										.textBlock
											p.text
												span テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
								li
									a(href=".doc")
										.titleBlock
											p.date 2019/12/01
											p.tag タグ
										.textBlock
											p.text
												span テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
					+l-markupBlock
						+p-markupBtn('pug').
							.c-newsSet02
								ul
									li
										a(href="")
											.titleBlock
												p.date 2019/12/01
												p.tag タグ
											.textBlock
												p.text
													span テキスト

						+p-markupBtn('stylus')
							include ../stylus/_include/_components/_c_newsSet02.styl
	


		+l-columnBox
			+l-contentsWidth
				+l-mqWrapper
					h2.m-markupTitle
						span ぱんくずセット

					+l-markupBlock
						.c-breadcrumbSet
							ol
								li
									a(href="")
										span ホーム
								li
									a(href="")
										span 下層ページ
								li
									span 下層ページ
					
					+l-markupBlock
						+p-markupBtn('pug').
							.c-breadcrumbSet
								ol
									li
										a(href="")
											span ホーム
									li
										span 下層ページ

						+p-markupBtn('stylus')
							include ../stylus/_include/_components/_c_breadcrumbSet.styl


		+l-columnBox
			+l-contentsWidth
				+l-mqWrapper
					h2.m-markupTitle
						span フォームセット

					+l-markupBlock
						.c-formSet
							table
								tbody
									tr
										th
											.inner
												p.title
													span カテゴリ
												p.tag
													span 必須
										td
											.inner
												.m-inputText
													input(type="text")
									tr
										th
											.inner
												p.title
													span カテゴリ
												p.tag
													span 必須
										td
											.inner
												.m-inputSelect
													select
														option 選択してください
									tr
										th
											.inner
												p.title
													span カテゴリ
												p.tag
													span 必須
										td
											.inner
												.m-inputRadio
													label(for="form-radio01")
														input(type="radio" name="form-radio" id="form-radio01" checked="checked")
														span ラベル
													label(for="form-radio02")
														input(type="radio" name="form-radio" id="form-radio02")
														span ラベル
									tr
										th
											.inner
												p.title
													span カテゴリ
												p.tag
													span 必須
										td
											.inner
												.m-inputCheck
													label(for="form-check01")
														input(type="checkbox" name="form-checkbox" id="form-check01")
														span ラベル
													label(for="form-check02")
														input(type="checkbox" name="form-checkbox" id="form-check02")
														span ラベル
									tr
										th
											.inner
												p.title
													span カテゴリ
												p.tag
													span 必須
										td
											.inner
												.m-inputTextarea
													textarea
					+l-markupBlock
						+p-markupBtn('pug').
							.c-formSet
								table
									tbody
										tr
											th
												.inner
													p.title
														span カテゴリ
													p.tag
														span 必須
											td
												.inner
													フォームモジュール

						+p-markupBtn('stylus')
							include ../stylus/_include/_components/_c_formSet.styl



		+l-columnBox
			+l-contentsWidth
				+l-mqWrapper
					h2.m-markupTitle
						span QandAセット
					+l-markupBlock
						.c-qandaSet.js-accordion
							ul
								li
									.titleBlock.js-accordion-parent.is-open
										p.icon
											span Q
										.textArea
											p.title タイトルが入ります
									.textBlock.js-accordion-child
										p.icon
											span A
										.textArea
											p.text テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
								li
									.titleBlock.js-accordion-parent
										p.icon
											span Q
										.textArea
											p.title タイトルが入ります
									.textBlock.js-accordion-child
										p.icon
											span A
										.textArea
											p.text テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
					+l-markupBlock
						+p-markupBtn('pug').
							.c-qandaSet.js-accordion
								ul
									li
										.titleBlock.js-accordion-parent.is-open
											p.icon
												span Q
											.textArea
												p.title タイトル
										.textBlock.js-accordion-child
											p.icon
												span A
											.textArea
												p.text テキスト

						+p-markupBtn('stylus')
							include ../stylus/_include/_components/_c_qandaSet.styl




















	+l-columnBlock
		h3.m-title-bg01
			span モジュール



		+l-columnBox
			+l-contentsWidth
				+l-mqWrapper
					h2.m-markupTitle
						span デフォルトタグ

					+l-markupBlock
						.defaultSet
							p!= DUMMY_TEXT_400

							ul.is-disc
								li!= DUMMY_TEXT_50
									ul
										li!= DUMMY_TEXT_20
											ul
												li!= DUMMY_TEXT_20
							
							ol.is-decimal
								li!= DUMMY_TEXT_50
									ol
										li!= DUMMY_TEXT_50
											ol
												li!= DUMMY_TEXT_50
					
					+l-markupBlock
						+p-markupBtn('pug').
							p!= テキスト

							ul.is-disc
								li!= テキスト
							
							ol.is-decimal
								li!= テキスト

						+p-markupBtn('stylus')
							include ../stylus/_include/_modules/_m_defaultTags.styl
		


		+l-columnBox
			+l-contentsWidth
				+l-mqWrapper
					h2.m-markupTitle
						span アイコンセット

					+l-markupBlock
						.defaultSet
							ul.is-disc
								li
									a(href="sample.pdf")
										span pdfファイル
								li
									a(href="sample.doc")
										span ワードファイル
								li
									a(href="sample.xls")
										span エクセルファイル
								li
									a(href="sample.ppt")
										span パワーポイントファイル
								li
									a(href="sample.mp3")
										span 音楽ファイル
								li
									a(href="sample.mp4")
										span 動画ファイル
								li
									a(href="sample.rtf")
										span その他ファイル
								li
									a(href="sample.html" target="_blank")
										span 外部リンク

					
					+l-markupBlock
						+p-markupBtn('pug').
							a(href="sample.pdf")
								span pdfファイル
							a(href="sample.doc")
								span その他ファイル
							a(href="" target="_blank")
								span 外部リンクファイル

						+p-markupBtn('stylus')
							include ../stylus/_include/_settings/_s_iconSet.styl


		+l-columnBox
			+l-contentsWidth
				+l-mqWrapper
					h2.m-markupTitle
						span pc sp 切り替え

					+l-markupBlock
						.is-sp
							.m-imageSet
								figure.image
									img(src="https://placehold.jp/640x400.png", alt="")
									figcaption spのみ表示されます
						.is-pc
							.m-imageSet
								figure.image
									img(src="https://placehold.jp/960x150.png", alt="")
									figcaption pcのみ表示されます
						
						.is-pcOnly
							.m-imageSet
								figure.image
									img(src="https://placehold.jp/960x20.png", alt="")
									figcaption pcのみ表示されます
					
					+l-markupBlock
						+p-markupBtn('pug').
							// pcとspで切り替え表示
							.is-sp
								spのとき表示したい要素（必ずis-pcの前に書く）
							.is-pc
								pcのとき表示したい要素

							// pcのみ、spのみ表示
							.is-pcOnly
								pcのとき表示したい要素
							.is-spOnly
								spのとき表示したい要素

						+p-markupBtn('stylus')
							include ../stylus/_include/_modules/_m_responsiveChange.styl


		+l-columnBox
			+l-contentsWidth
				+l-mqWrapper
					h2.m-markupTitle
						span ボーダートップボトムタイトル01
					+l-markupBlock
						h3.m-title-borderTopBottom01
							span タイトル

					+l-markupBlock
						+p-markupBtn('pug').
							h3.m-title-borderTopBottom01
								span タイトル

						+p-markupBtn('stylus')
							include ../stylus/_include/_modules/_title/_m_title_borderTopBottom01.styl


		+l-columnBox
			+l-contentsWidth
				+l-mqWrapper
					h2.m-markupTitle
						span ボーダートップタイトル01
					
					+l-markupBlock
						h3.m-title-borderTop01
							span タイトル

					+l-markupBlock
						+p-markupBtn('pug').
							h3.m-title-borderTop01
								span タイトル

						+p-markupBtn('stylus')
							include ../stylus/_include/_modules/_title/_m_title_borderTop01.styl


		+l-columnBox
			+l-contentsWidth
				+l-mqWrapper
					h2.m-markupTitle
						span ボーダーボトムタイトル01

					+l-markupBlock
						h3.m-title-borderBottom01
							span タイトル

					+l-markupBlock
						+p-markupBtn('pug').
							h3.m-title-borderBottom01
								span タイトル

						+p-markupBtn('stylus')
							include ../stylus/_include/_modules/_title/_m_title_borderBottom01.styl



		+l-columnBox
			+l-contentsWidth
				+l-mqWrapper
					h2.m-markupTitle
						span ボーダーライトタイトル01
					
					+l-markupBlock
						h3.m-title-borderRight01
							span タイトル

					+l-markupBlock
						+p-markupBtn('pug').
							h3.m-title-borderRight01
								span タイトル
						
						+p-markupBtn('stylus')
							include ../stylus/_include/_modules/_title/_m_title_borderRight01.styl



		+l-columnBox
			+l-contentsWidth
				+l-mqWrapper
					h2.m-markupTitle
						span ボーダーレフトタイトル01
					
					+l-markupBlock
						h3.m-title-borderLeft01
							span タイトル

					+l-markupBlock
						+p-markupBtn('pug').
							h3.m-title-borderLeft01
								span タイトル
						
						+p-markupBtn('stylus')
							include ../stylus/_include/_modules/_title/_m_title_borderLeft01.styl



		+l-columnBox
			+l-contentsWidth
				+l-mqWrapper
					h2.m-markupTitle
						span 強調タイトル01
					
					+l-markupBlock
						h3.m-title-boldLarge01
							span タイトル

					+l-markupBlock
						+p-markupBtn('pug').
							h3.m-title-boldLarge01
								span タイトル

						+p-markupBtn('stylus')
							include ../stylus/_include/_modules/_title/_m_title_boldLarge01.styl



		+l-columnBox
			+l-contentsWidth
				+l-mqWrapper
					h2.m-markupTitle
						span 背景タイトル01
					
					+l-markupBlock
						h3.m-title-bg01
							span タイトル

					+l-markupBlock
						+p-markupBtn('pug').
							h3.m-title-bg01
								span タイトル

						+p-markupBtn('stylus')
							include ../stylus/_include/_modules/_title/_m_title_bg01.styl



		+l-columnBox
			+l-contentsWidth
				+l-mqWrapper
					h2.m-markupTitle
						span 複数文字タイトル01

					+l-markupBlock
						h3.m-title-twoWord01
							span.is-large ラージタイトル
							span.is-small スモールタイトル

					+l-markupBlock
						+p-markupBtn('pug').
							h3.m-title-twoWord01
								span.is-large ラージタイトル
								span.is-small スモールタイトル
						
						+p-markupBtn('stylus')
							include ../stylus/_include/_modules/_title/_m_title_twoWord01.styl


		+l-columnBox
			+l-contentsWidth
				+l-mqWrapper
					h2.m-markupTitle
						span テキストボックス01
					
					+l-markupBlock
						.m-inputText
							input(type="text")
					
					+l-markupBlock
						+p-markupBtn('pug').
							.m-inputText
								input(type="text")

						+p-markupBtn('stylus')
							include ../stylus/_include/_modules/_form/_m_inputText.styl

		+l-columnBox
			+l-contentsWidth
				+l-mqWrapper
					h2.m-markupTitle
						span セレクトボックス01
					+l-markupBlock
						.m-inputSelect
							select
								option 選択してください
					
					+l-markupBlock
						+p-markupBtn('pug').
							.m-inputSelect
								select
									option 選択してください

						+p-markupBtn('stylus')
							include ../stylus/_include/_modules/_form/_m_inputSelect.styl
		
		+l-columnBox
			+l-contentsWidth
				+l-mqWrapper
					h2.m-markupTitle
						span テキストエリア01
					+l-markupBlock
						.m-inputTextarea
							textarea
					+l-markupBlock
						+p-markupBtn('pug').
							.m-inputTextarea
								textarea

						+p-markupBtn('stylus')
							include ../stylus/_include/_modules/_form/_m_inputTextarea.styl

		+l-columnBox
			+l-contentsWidth
				+l-mqWrapper
					h2.m-markupTitle
						span ラジオボタン01
					+l-markupBlock
						.m-inputRadio
							label(for="radio01")
								input(type="radio" name="radio" id="radio01" checked="checked")
								span ラベル
							label(for="radio02")
								input(type="radio" name="radio" id="radio02")
								span ラベル
					+l-markupBlock
						+p-markupBtn('pug').
							.m-inputRadio
								label(for="radio01")
									input(type="radio" name="radio" id="radio01" checked="checked")
									span ラベル
								label(for="radio02")
									input(type="radio" name="radio" id="radio02")
									span ラベル

						+p-markupBtn('stylus')
							include ../stylus/_include/_modules/_form/_m_inputRadio.styl
		
		+l-columnBox
			+l-contentsWidth
				+l-mqWrapper
					h2.m-markupTitle
						span チェックボタン01
					+l-markupBlock
						.m-inputCheck
							label(for="check01")
								input(type="checkbox" name="checkbox" id="check01")
								span ラベル
							label(for="check02")
								input(type="checkbox" name="checkbox" id="check02")
								span ラベル
					+l-markupBlock
						+p-markupBtn('pug').
							.m-inputCheck
								label(for="check01")
									input(type="checkbox" name="checkbox" id="check01")
									span ラベル
								label(for="check02")
									input(type="checkbox" name="checkbox" id="check02")
									span ラベル

						+p-markupBtn('stylus')
							include ../stylus/_include/_modules/_form/_m_inputCheck.styl

		+l-columnBox
			+l-contentsWidth
				+l-mqWrapper
					h2.m-markupTitle
						span ボタンモジュール01
					
					+l-markupBlock
						p.m-btnSet01
							a(href=".pdf")
								span.btnWrapper
									span.btnInner ボタン

					+l-markupBlock
						+p-markupBtn('pug').
							p.m-btnSet01
								a(href="") 拡張子でアイコン切り分け
									span.btnWrapper
										span.btnInner ボタン

						+p-markupBtn('stylus')
							include ../stylus/_include/_modules/_m_btnSet.styl



		+l-columnBox
			+l-contentsWidth
				+l-mqWrapper
					h2.m-markupTitle
						span 画像モジュール01
					
					+l-markupBlock
						.m-imageSet
							figure.image
								img(src="https://placehold.jp/150x150.png", alt="")
								figcaption テキストが入ります
						.m-imageSet
							p.image
								img(src="https://placehold.jp/150x150.png", alt="")

					+l-markupBlock
						+p-markupBtn('pug').
							.m-imageSet
								figure.image p.image
									img(src="画像", alt="")
									figcaption テキスト
							
						+p-markupBtn('stylus')
							include ../stylus/_include/_modules/_m_imageSet.styl











	+l-columnBlock
		h3.m-title-bg01
			span cssアニメーション



		+l-columnBox
			+l-contentsWidth
				+l-mqWrapper
					h2.m-markupTitle
						span 背景色01
					
					+l-markupBlock
						.c-btnSet
							ul.c-colSet.is-three
								li.col
									.m-btnSet01.a-bgColorChange01.is-fade01
										a(href="").animationBlock
											span.btnWrapper
												span.btnInner フェード
								li.col
									.m-btnSet01.a-bgColorChange01.is-slideRight01
										a(href="").animationBlock
											span.btnWrapper
												span.btnInner スライドライト
								li.col
									.m-btnSet01.a-bgColorChange01.is-slideLeft01
										a(href="").animationBlock
											span.btnWrapper
												span.btnInner スライドレフト
								li.col
									.m-btnSet01.a-bgColorChange01.is-slideTop01
										a(href="").animationBlock
											span.btnWrapper
												span.btnInner スライドトップ
								li.col
									.m-btnSet01.a-bgColorChange01.is-slideBottom01
										a(href="").animationBlock
											span.btnWrapper
												span.btnInner スライドボトム
								li.col
									.m-btnSet01.a-bgColorChange01.is-slideCenterIn01
										a(href="").animationBlock
											span.btnWrapper
												span.btnInner スライドセンターイン
								li.col
									.m-btnSet01.a-bgColorChange01.is-slideCenterOut01
										a(href="").animationBlock
											span.btnWrapper
												span.btnInner スライドセンターアウト

					+l-markupBlock
						+p-markupBtn('pug').
							.a-bgColorChange01 (.is-slideCenterOut)
								a(href="").animationBlock
									テキスト

						+p-markupBtn('stylus')
							include ../stylus/_include/_modules/_animation/_a_borderChange01.styl

		+l-columnBox
			+l-contentsWidth
				+l-mqWrapper
					h2.m-markupTitle
						span シャドウ01
					
					+l-markupBlock
						.c-btnSet
							ul.c-colSet.is-three
								li.col
									.m-btnSet01.a-shadowAppear01
										a(href="").animationBlock
											span.btnWrapper
												span.btnInner シャドウ01
					+l-markupBlock
						+p-markupBtn('pug').
							.a-shadowAppear01
								a(href="").animationBlock
									テキスト

						+p-markupBtn('stylus')
							include ../stylus/_include/_modules/_animation/_a_shadowAppear01.styl

		+l-columnBox
			+l-contentsWidth
				+l-mqWrapper
					h2.m-markupTitle
						span ボーダー01
					+l-markupBlock
						.c-btnSet
							ul.c-colSet.is-three
								li.col
									.m-btnSet01.a-borderChange01.is-boderBottomLeft01
										a(href="").animationBlock
											span.btnWrapper
												span.btnInner ボーダーボトム01
								li.col
									.m-btnSet01.a-borderChange01.is-boderBottomCenter01
										a(href="").animationBlock
											span.btnWrapper
												span.btnInner ボーダーボトム02
								li.col
									.m-btnSet01.a-borderChange01.is-boderBottomRight01
										a(href="").animationBlock
											span.btnWrapper
												span.btnInner ボーダーボトム02
								li.col
									.m-btnSet01.a-borderChange01.is-boderBold01
										a(href="").animationBlock
											span.btnWrapper
												span.btnInner ボーダーボールド01
								li.col
									.m-btnSet01.a-borderChange01.is-boderBold02
										a(href="").animationBlock
											span.btnWrapper
												span.btnInner ボーダーボールド02
								li.col
									.m-btnSet01.a-borderChange01.is-boderDraw01
										a(href="").animationBlock
											span.btnWrapper
												span.btnInner ボーダードロー01
								li.col
									.m-btnSet01.a-borderChange01.is-boderDraw02
										a(href="").animationBlock
											span.btnWrapper
												span.btnInner ボーダードロー02
								li.col
									.m-btnSet01.a-borderChange01.is-boderDraw03
										a(href="").animationBlock
											span.btnWrapper
												span.btnInner ボーダードロー03

					+l-markupBlock
						+p-markupBtn('pug').
							.a-borderChange01
								a(href="").animationBlock
									テキスト

						+p-markupBtn('stylus')
							include ../stylus/_include/_modules/_animation/_a_borderChange01.styl
		+l-columnBox
			+l-contentsWidth
				+l-mqWrapper
					h2.m-markupTitle
						span ズーム01
		

		+l-columnBox
			+l-contentsWidth
				+l-mqWrapper
					h2.m-markupTitle
						span アイコン01














	+l-columnBlock
		h3.m-title-bg01
			span js


		+l-columnBox
			+l-contentsWidth
				+l-mqWrapper
					h2.m-markupTitle
						span スライダー



		+l-columnBox
			+l-contentsWidth
				+l-mqWrapper
					h2.m-markupTitle
						span モーダル



		+l-columnBox
			+l-contentsWidth
				+l-mqWrapper
					h2.m-markupTitle
						span 高さを揃える(matchHeight)
				
					+l-markupBlock
						.c-colSet.is-two
							.col
								.defaultSet
									p.js-matchHeight タイトルが入ります
										br
										| タイトルが入りますタイトルが入りますタイトルが入ります
									.m-imageSet
										p.image
											img(src="https://placehold.jp/150x150.png", alt="")
							.col
								.defaultSet
									p.js-matchHeight タイトルが入ります
									.m-imageSet
										p.image
											img(src="https://placehold.jp/150x150.png", alt="")

					+l-markupBlock
						+p-markupBtn('pug').
							p.js-matchHeight テキスト
							
						+p-markupBtn('js').
							const matchHeight = require('../_modules/matchHeight.js');

							//DOM読み込み後とリサイズ処理に入れる
							matchHeight('.js-matchHeight');

		+l-columnBox
			+l-contentsWidth
				+l-mqWrapper
					h2.m-markupTitle
						span smoothScroll
				
					+l-markupBlock
						p
							a(href="#l-contentsTop")
								span ページトップへ戻る

					+l-markupBlock
						+p-markupBtn('pug').
							p
								a(href="#l-contentsTop")
									span ページトップへ戻る
							
						+p-markupBtn('js').
							const smoothScroll = require('../_modules/smoothScroll.js');

							//DOM読み込み後に入れる
							smoothScroll();

		
		+l-columnBox
			+l-contentsWidth
				+l-mqWrapper
					h2.m-markupTitle
						span sp用 電話番号リンク

					+l-markupBlock
						p
							a(href="tel:0000000000").js-tellLink
								span 000-000-0000

					+l-markupBlock
						+p-markupBtn('pug').
							p
								a(href="tel:0000000000").js-tellLink
									span 000-000-0000

						+p-markupBtn('js').
							const spTellLink = require('../_modules/spTellLink.js');

							//DOM読み込み後に入れる
							spTellLink('.js-tellLink', op);

		+l-columnBox
			+l-contentsWidth
				+l-mqWrapper
					h2.m-markupTitle
						span アコーディオン
					+l-markupBlock
						.js-accordion
							p.js-accordion-parent.is-open タイトル01
							p.js-accordion-child テキスト01
							p.js-accordion-parent タイトル02
							p.js-accordion-child テキスト02
							p.js-accordion-parent タイトル03
							p.js-accordion-child テキスト03

					+l-markupBlock
						+p-markupBtn('pug').
							.js-accordion
								.js-accordion-parent クリック要素（.is-openで展開）
								.js-accordion-child アコーディオン要素
						
						+p-markupBtn('js').
							const accordionSet = require('../_modules/accordionSet.js');

							//DOM読み込み後に入れる
							accordionSet({
								target: '.js-accordion', // 要素名
								parentName: '.js-accordion-parent', // クリック要素名
								childName: '.js-accordion-child', // アコーディオン要素名
								speed: 300, // 速度
								timing: 'ease', // タイミング
								linkage: true, // アコーディオン連動
								collapsible: true, // 折りたたみ有効
								setBefore: function() {},
								setAfter: function() {},
								animationAfter: function() {},
							});