mixin c-imageSet02(className)
	.c-imageSet02
		+c-colSet01(className)
			block

+l-columnBox
	+l-contentsWidth
		+l-mqWrapper
			+m-markupTitle('コンポーネント - 画像コンポーネント02')
			
			+l-markupBlock
				+c-imageSet02('is-four')
					+col
						.imageArea
							+m-imageSet01('p', 'https://placeimg.com/235/145/animals', 'dummy')
						.textArea
							+m-defaultSet
								p!= DUMMY_TEXT_50
					+col
						.imageArea
							+m-imageSet01('p', 'https://placeimg.com/235/145/animals', 'dummy')
						.textArea
							+m-defaultSet
								p!= DUMMY_TEXT_50
					+col
						.imageArea
							+m-imageSet01('p', 'https://placeimg.com/235/145/animals', 'dummy')
						.textArea
							+m-defaultSet
								p!= DUMMY_TEXT_50
					+col
						.imageArea
							+m-imageSet01('p', 'https://placeimg.com/235/145/animals', 'dummy')
						.textArea
							+m-defaultSet
								p!= DUMMY_TEXT_50
					+col
						.imageArea
							+m-imageSet01('p', 'https://placeimg.com/235/145/animals', 'dummy')
						.textArea
							+m-defaultSet
								p!= DUMMY_TEXT_50

			+l-markupBlock
				+p-markupBtn('pug').
					.c-imageComponent
						ul.box (.is-two / .is-three / .is-four)
							li.item
								.imageArea
									.m-imageSet01
										p.image
											img(src="画像", alt="")
								.textArea
									テキスト

				+p-markupBtn('stylus')
					include ../../../stylus/_include/_components/_c_imageSet02.styl