
mixin c-imageSet01(className)
	.c-imageSet01
		+c-colSet01(className)
			block

+l-columnBox
	+l-contentsWidth
		+l-mqWrapper
			+m-markupTitle('コンポーネント - 画像コンポーネント01')
			
			+l-markupBlock
				+c-imageSet01('is-three')
					+col
						.imageArea
							+m-imageSet01('p', 'https://placeimg.com/375/232/animals', 'dummy')
						.textArea
							+m-defaultSet
								p!= DUMMY_TEXT_50
					+col
						.imageArea
							+m-imageSet01('p', 'https://placeimg.com/375/232/animals', 'dummy')
						.textArea
							+m-defaultSet
								p!= DUMMY_TEXT_50
					+col
						.imageArea
							+m-imageSet01('p', 'https://placeimg.com/375/232/animals', 'dummy')
						.textArea
							+m-defaultSet
								p!= DUMMY_TEXT_50
					+col
						.imageArea
							+m-imageSet01('p', 'https://placeimg.com/375/232/animals', 'dummy')
						.textArea
							+m-defaultSet
								p!= DUMMY_TEXT_50
					+col
						.imageArea
							+m-imageSet01('p', 'https://placeimg.com/375/232/animals', 'dummy')
						.textArea
							+m-defaultSet
								p!= DUMMY_TEXT_50

			+l-markupBlock
				+p-markupBtn('pug').
					.c-imageSet01
						ul.c-colSet01 (.is-two / .is-three / .is-four)
							li.col
								.imageArea
									画像
								.textArea
									テキスト

				+p-markupBtn('stylus')
					include ../../../stylus/_include/_components/_c_imageSet01.styl