+l-columnBox
	+l-contentsWidth
		+l-mqWrapper
			h2.m-markupTitle
				span コンポーネント - 画像コンポーネント01
			
			+l-markupBlock
				.c-imageSet01
					ul.c-colSet01.is-three
						li.col
							.m-imageSet01
								p.image
									img(src="https://placehold.jp/375x232.png", alt="")
								.m-defaultSet
									p!= DUMMY_TEXT_50
						li.col
							.m-imageSet01
								p.image
									img(src="https://placehold.jp/375x232.png", alt="")
								.m-defaultSet
									p!= DUMMY_TEXT_50
						li.col
							.m-imageSet01
								p.image
									img(src="https://placehold.jp/375x232.png", alt="")
								.m-defaultSet
									p!= DUMMY_TEXT_50
						li.col
							.m-imageSet01
								p.image
									img(src="https://placehold.jp/375x232.png", alt="")
								.m-defaultSet
									p!= DUMMY_TEXT_50
						li.col
							.m-imageSet01
								p.image
									img(src="https://placehold.jp/375x232.png", alt="")
								.m-defaultSet
									p!= DUMMY_TEXT_50

			+l-markupBlock
				+p-markupBtn('pug').
					.c-imageComponent
						ul.box (.is-two / .is-three / .is-four)
							li.item
								.m-imageSet01
									p.image
										img(src="画像", alt="")
									.m-defaultSet
										p!= テキスト

				+p-markupBtn('stylus')
					include ../../../stylus/_include/_components/_c_imageSet01.styl