+l-columnBox
	+l-contentsWidth
		+l-mqWrapper
			h2.m-markupTitle
				span モジュール - デフォルトタグ

			+l-markupBlock
				.m-defaultSet
					p!= DUMMY_TEXT_400

					ul.is-disc
						li!= DUMMY_TEXT_50
							ul
								li!= DUMMY_TEXT_20
									ul
										li!= DUMMY_TEXT_20
					
					ol.is-decimal
						li!= DUMMY_TEXT_50
							ol
								li!= DUMMY_TEXT_50
									ol
										li!= DUMMY_TEXT_50
			
			+l-markupBlock
				+p-markupBtn('pug').
					p!= テキスト

					ul.is-disc
						li!= テキスト
					
					ol.is-decimal
						li!= テキスト

				+p-markupBtn('stylus')
					include ../../../stylus/_include/_modules/_m_defaultTags.styl